environment:
  matrix:
    - PYTHON: "C:\\Python35"
    - PYTHON: "C:\\Python36"
    - PYTHON: "C:\\Python37"
    - PYTHON: "C:\\Python38"
    - PYTHON: "C:\\Python35-x64"
    - PYTHON: "C:\\Python36-x64"
    - PYTHON: "C:\\Python37-x64"
    - PYTHON: "C:\\Python38-x64"
build: off
install:
  - "%PYTHON%\\python.exe -m pip install pycodestyle coveralls"
before_test:
  - "%PYTHON%\\Scripts\\pycodestyle.exe ."
test_script:
  - "%PYTHON%\\Scripts\\coverage.exe run --source=leetcode setup.py test"
after_test:
  - "%PYTHON%\\Scripts\\coveralls.exe"
