dist: xenial
language: python
python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8
  - 3.9
install:
  - pip install codecov
  - pip install pycodestyle
script:
  - pycodestyle .
  - coverage run --source=leetcode setup.py test
after_success:
  - codecov
